<div class="main">
<div class="back">
{% for seminar in seminars %}
<div class="sem" style="background-color:{{seminar.background_color}};{{'height:auto;min-height:10px' if seminar.is_special  else ''}}">
    {% if seminar.photo_src is not none %}
    <div class="photo">
        <img src="{{seminar.photo_src}}" class="photo">
    </div>
    {% endif %}
    <div class="info" style="{{'' if seminar.photo_src is not none else 'width:100%;float:none;'}}">
        {% if (seminar.speaker_name is not none) or (seminar.datetime is not none) %}
        <div class="text-box">
            {% if seminar.speaker_name is not none and seminar.speaker_name != "" %}
            <div class="speaker-name" style="color:{{seminar.text_color}};">
                {{seminar.speaker_name}}
            </div>
            {% endif %}
            {% if seminar.datetime is not none %}
            <div class="date" style="background-color:{{seminar.date_color}};color:{{seminar.date_text_color}}">
                   <div class="datetime" style="float: left">
                    {{seminar.datetime.strftime("%d %b %Y")}}
                    </div>
                    <div class="datetime" style="float: right">
                        {{seminar.datetime.strftime("%H:%M")}}
                    </div>
                <div class="weekday">
                    {{seminar.datetime.strftime("%A")}}
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if seminar.is_special %}
        <div class="name" style="color:{{seminar.text_color}};margin: 0 auto;white-space: pre;text-align: center;padding-top:10px">{{seminar.name}}</div>
        {% else %}
        <div class="name" style="color:{{seminar.text_color}};">
            {{seminar.name}}
        </div>
        {% endif %}
    </div>
</div>
  {% endfor %}
</div>
</div>