{% extends 'base.html' %}

{% block title %}
Edit
{% endblock %}

{% block style %}
    {% include "table_style.css" %}
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-around;
        align-items: flex-start;
    }
    .form {
        margin: 10px;
}
    textarea {
    width: 300px;
    height: 200px;
}

{% endblock %}

{% block body %}
<div>
    {% include "table_body.html" %}
</div>
<div class="form">
    <form action="" method="POST" enctype="multipart/form-data">
    <p>
	    <label for="fr_name">Текст</label>
	    <textarea name="fr_name">{{friday_seminar.name if friday_seminar.name else ""}}</textarea>
	</p>
        <p>
	    <label for="fr_photo">Фото</label>
            <input type="file" name="fr_photo">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>
</div>
{% endblock %}