<div class="main">
<div class="back">
{% for seminar in seminars %}
<div class="sem">
    <div class="photo">
        <img src="{{seminar.photo_src}}" class="photo">
    </div>
    <div class="info">
        <div class="text-box">
            <div class="speaker-name">
                {{seminar.speaker_name}}
            </div>
            <div class="date" style="background-color:{{seminar.color}};color:{{seminar.text_color}}">
                   <div class="datetime" style="float: left">
                    {{seminar.datetime.strftime("%d %b %Y")}}
                    </div>
                    <div class="datetime" style="float: right">
                        {{seminar.datetime.strftime("%H:%M")}}
                    </div>
                <div class="weekday">
                    {{seminar.datetime.strftime("%A")}}
                </div>
            </div>
        </div>
        <div class="name">
            {{seminar.name}}
        </div>
    </div>
</div>
  {% endfor %}
</div>
{% if friday_seminar.name or friday_seminar.photo %}
<div class="back-friday">
    {% if friday_seminar.photo_src %}
    <div class="photo photo-friday">
        <img src="{{friday_seminar.photo_src|e}}" class="photo-friday">
    </div>
    {% endif %}

    {% if friday_seminar.name %}
    <div class="info-friday">
        <div class="text-friday" style="color: {{'white'}}">{{friday_seminar.name|e}}</div>
    </div>
    {% endif %}
</div>
{% endif %}
</div>